* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --grey-grad: linear-gradient(90deg, #3b333b, #504250);
  overflow-x: hidden;
}

body {
  background-color: rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--grey-grad);
  z-index: -1;
}

.name-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60vw;
  height: 100vh;
}

.name-container::before,
header .img-container::before {
  font-weight: 500;
  font-size: 9vw;
  line-height: 0.9;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.name-container::before {
  content: "Kim Taehyung";
  position: absolute;
  top: 25vh;
  left: 6vw;
  right: 2vw;
}

header .img-container {
  position: relative;
  width: 40vw;
  height: 100vh;
}

header .img-container img {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 92%;
  height: 93%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 13px 13px 20px #000000, -13px -13px 20px #7c677c;
  z-index: -1;
}

.glow {
  font-size: 6vw;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  margin: 4vh 0 3vh 0;
  padding: 2% 2% 2% 2%;
  background: black;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(172, 0, 172),
      0 0 40px rgb(172, 0, 172), 0 0 50px rgb(172, 0, 172),
      0 0 60px rgb(172, 0, 172), 0 0 70px rgb(172, 0, 172);
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgb(255, 75, 255),
      0 0 40px rgb(255, 75, 255), 0 0 50px rgb(255, 75, 255),
      0 0 60px rgb(255, 75, 255), 0 0 70px rgb(255, 75, 255),
      0 0 80px rgb(255, 75, 255);
  }
}

.temp-section {
  margin: 10px;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
  justify-content: center;
  align-items: center;
}

.temp-section .temp-card {
  position: relative;
  height: 320px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.temp-section .temp-card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.temp-section .temp-card:hover .box {
  transform: rotateY(180deg);
}

.temp-section .temp-card .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.temp-section .temp-card .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.temp-section .temp-card .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(223, 0, 223), rgb(39, 0, 39));
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.temp-section .temp-card .box .contentBx div {
  background-color: rgb(27, 27, 27);
  transform-style: preserve-3d;
  padding: 20px;
  transform: translateZ(100px);
}

.temp-section .temp-card .box .contentBx div p {
  color: #fff;
  font-size: 16px;
}

.temp-section .temp-card .box .contentBx div h5 {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 1px;
}

@media (max-aspect-ratio: 25/19) {
  .glow {
    font-size: 8vw;
  }
  header .img-container {
    width: 60vw;
  }
}

@media (orientation: portrait) {
  .glow {
    font-size: 12vw;
  }
  .name-container {
    width: 0vw;
    height: 0vh;
  }
  .name-container::before {
    content: "";
  }
  header .img-container {
    margin-top: 5vh;
    height: 90vh;
    width: 100vw;
  }
  header .img-container::before {
    content: "Kim Taehyung";
    position: absolute;
    bottom: 10vh;
    left: 7%;
    font-weight: 500;
    font-size: 15vw;
    line-height: 0.9;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(211, 211, 211);
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 360px) {
  .temp-section {
    grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
  }
  .temp-section .temp-card {
    height: 280px;
  }
}

@media (max-width: 320px) {
  .temp-section {
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  }
  .temp-section .temp-card {
    height: 240px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 5px;
  height: 15vh;
  color: #fff;
  background: var(--grey-grad);
}

footer div {
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

footer div a img {
  width: 25%;
  height: auto;
  margin: 2% 7% 0 7%;
}
